#!/usr/bin/env bash
export _JAVA_AWT_WM_NONREPARENTING=1
setxkbmap -option caps:escape &
xrdb -merge ~/.Xresources &
xsetroot -cursor_name left_ptr &

#[ -f ~/.screenlayout/archdev.sh ] && source ~/.screenlayout/archdev.sh &
